Skip to content
This repository  
Pull requests
Issues
Gist
 @mcclure15
 Watch 1,240
  Star 26,760
  Fork 9,789
github/gitignore
Branch: master  gitignore/Swift.gitignore
@modocachemodocache on Jun 8 [ObjC][Swift] Ignore Xcode SCM blueprint files
4 contributors @nwest @martinblech @modocache @bbodenmiller
RawBlameHistory     44 lines (36 sloc)  0.837 kB
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
.DS_Store
**/Keys.swift

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
Status API Training Shop Blog About Help
© 2015 GitHub, Inc. Terms Privacy Security Contact